<header>
    <h1 class="title"><%- header %></h1>

    <p class="subtitle"><%- subheader %></p>

    <nav>
        <a href="/index.html"<% if(page === "resume"){ %> class="selected"<% } %>>
            Résumé
        </a>
        <a href="/bookshelf.html"<% if(page === "bookshelf"){ %> class="selected"<% } %>>
            Bookshelf
        </a>
        <a href="https://links.nicholemattera.gay" target="_blank">
            Social Links
            <span class="fa-sr-only">Portfolio Opens in new window</span>
            <span class="far fa-ext new-window-icon"></span>
        </a>
    </nav>
</header>
