<header>
    <h1 class="title"><%- header %></h1>

    <p class="subtitle"><%- subheader %></p>

    <nav>
        <a href="/index.html"<% if(page === "resume"){ %> class="selected"<% } %>>
            Résumé
        </a>
        <a href="/bookshelf.html"<% if(page === "bookshelf"){ %> class="selected"<% } %>>
            Bookshelf
        </a>
        <a href="/social.html"<% if(page === "social"){ %> class="selected"<% } %>>
            Social
        </a>
    </nav>
</header>
