<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
        <meta name="description" content="<%- description %>">
        <meta name="theme-color" content="#4A148C"/>
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#E1BEE7"/>
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#4A148C"/>

        <meta property="og:title" content="<%- title %>">
        <meta property="og:description" content="<%- description %>">
        <meta property="og:url" content="https://nicholemattera.gay">

        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">

        <title><%- title %></title>

        <style>
            @import url('./src/css/font-awesome.css');
            @import url('./src/css/fonts.css');
            @import url('./src/css/see-more.css');
            @import url('./src/css/main.css');
            @import url('./src/css/resume.css');
        </style>
    </head>
    <body>
        <%- include('header.ejs') %>

        <main>
            <div>
                <section class="card about">
                    <h2 class="card-header">About Me</h2>

                    <div class="card-divider"></div>

                    <div class="card-body">
                        <img srcset="<%- about.image %>" width="<%- about.imageWidth %>" height="<%- about.imageHeight %>" alt="<%- about.imageAlt %>" />

                        <div class="description">
                            <%- about.description %>
                        </div>
                    </div>
                </section>

                <section class="card">
                    <h2 class="card-header">Work Experience</h2>

                    <div class="card-divider"></div>

                    <div class="card-body">
                        <% experiences.forEach(function(experience){ %>
                        <% if(experience.logo){ %>
                        <h3><img src="<%- publication.logo %>" alt="<%- publication.logoAlt %>"></a><%- experience.organization %></h3>
                        <% } else { %>
                        <h3><%- experience.organization %></h3>
                        <% } %>
                        <dl>
                            <% experience.roles.forEach(function(role){ %>
                            <dt><%- role.title %></dt>
                            <dd>
                                <% if (role.isPresent) { %>
                                <p><time datetime="<%- role.start %>"><%- role.startText %></time> - Present</p>
                                <% } else { %>
                                <p><time datetime="<%- role.start %>"><%- role.startText %></time> - <time datetime="<%- role.end %>"><%- role.endText %></time> (<%- role.timeSpan %>)</p>
                                <% } %>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- role.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>

                        <% }); %>
                    </div>
                </section>

                <section class="card">
                    <h2 class="card-header">Publications</h2>

                    <div class="card-divider"></div>

                    <div class="card-body">
                        <dl>
                            <% publications.forEach(function(publication){ %>
                            <% if(publication.link){ %>
                            <dt><a href="<%- publication.link %>" target="_blank"><%- publication.name %></a></dt>
                            <% } else { %>
                            <dt><%- publication.name %></dt>
                            <% } %>
                            <dd>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- publication.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                    </div>
                </section>

                <section class="card">
                    <h2 class="card-header">Education</h2>

                    <div class="card-divider"></div>

                    <div class="card-body">
                        <dl>
                            <% education.forEach(function(degree){ %>
                            <dt><%- degree.name %></dt>
                            <dd>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- degree.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                    </div>
                </section>

                <section class="card">
                    <h2 class="card-header">Certifications</h2>

                    <div class="card-divider"></div>

                    <div class="card-body">
                        <dl>
                            <% certifications.forEach(function(certificate){ %>
                            <% if(certificate.link){ %>
                            <dt><a href="<%- certificate.link %>" target="_blank"><%- certificate.name %></a></dt>
                            <% } else { %>
                            <dt><%- certificate.name %></dt>
                            <% } %>
                            <dd>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- certificate.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                    </div>
                </section>
            </div>

            <div>
                <section class="card">
                    <h2 class="card-header">Projects</h2>

                    <div class="card-divider"></div>

                    <div class="card-body">
                        <dl>
                            <% projects.forEach(function(project){ %>
                            <dt><%- project.name %> (<%- project.type %>)</dt>
                            <dd>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- project.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                    </div>
                </section>

                <section class="card">
                    <h2 class="card-header">Awards</h2>

                    <div class="card-divider"></div>

                    <div class="card-body">
                        <% awards.forEach(function(award){ %>
                        <h3><%- award.organization %></h3>
                        <dl>
                            <% award.honors.forEach(function(honor){ %>
                            <dt><%- honor.name %></dt>
                            <dd>
                                <p><time datetime="<%- honor.date %>"><%- honor.dateText %></time></p>
                                
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- honor.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                        <% }); %>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>
