@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/raleway-bold.woff2") format("woff2"), url("./fonts/raleway-bold.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/inter-medium.woff2") format("woff2"), url("./fonts/inter-medium.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/inter-bold.woff2") format("woff2"), url("./fonts/inter-bold.ttf") format("truetype");
}
