@media (prefers-color-scheme: light) {
    html, body {
        background: #DEDEDE;
        color: #000;
    }

    header {
        background: #E8E8E8;
    }

    header .title {
        background-color: #000;
    }

    header nav a {
        color: #000;
    }

    header nav a:hover, header nav a:focus {
        background-color: #000;
        color: #E8E8E8;
    }

    header nav a:focus {
        outline-color: #000;
    }

    section a {
        color: #000;
    }

    section a:focus {
        outline-color: #000;
    }

    section {
        background: #E8E8E8;
    }
}
