<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="description" content="">

        <meta property="og:title" content="Nichole Mattera">
        <meta property="og:url" content="https://nicholemattera.gay/mer">
        <meta property="og:description" content="">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Nichole Mattera">
        <meta name="twitter:description" content="">
        
        <title>Nichole Mattera</title>
    </head>
    <body>
        <video autoplay loop muted poster="/static/images/background.jpg" src="/static/videos/background.m4v"></video>

        <div class="container">
            <h1>Nichole Mattera</h1>
            <h2>Gamer</h2>
        </div>

        <script type="text/javascript">
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/static/service-worker.js', { scope: '/' })
            }
        </script>
        <script src="/static/main.js" type="text/javascript"></script>
    </body>
</html>
