html, body {
    color: #FFF;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    color: #FFF;
    text-decoration: none;
}

h1, h2 {
    background-clip: text;
    -webkit-background-clip: text;
    background-color: #FFF;
    color: transparent;
    text-align: center;
}

h1 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 64px;
    margin: 0;
}

h2 {
    margin: 0 0 18px;
}

video, .bg, .cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    object-fit: cover;
    z-index: 0;
}

.bg {
    background: transparent url('../images/backgroundOverlay.png') repeat;
    z-index: 1;
}

.cont {
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;
    border: 2px solid #FFF;
    border-radius: 27px;
    background: transparent;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.btn:hover, .btn:focus {
    background: #FFF;
    color: #000;
    text-shadow: none;
    outline: none;
}

.btn-ico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-ico > svg {
    display: block;
    width: 20px;
    height: 20px;
}

.soc {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
}

.soc a {
    width: 50px;
    margin-right: 35px;
}

.soc a:focus {
    outline: none;
}

.soc a:last-child {
    margin-right: 0;
}

.tw:hover, .tw:focus {
    color: #1DA1F2;
}

.ln:hover, .ln:focus {
    color: #0077B5;
}

.gh:hover, .gh:focus {
    color: #333;
}

.res {
    padding: 0 20px;
}
