html, body {
    color: #FFF;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

a {
    color: #FFF;
    text-decoration: none;
}

header {
    height: 88px;
    margin: 0 0 18px 0;
    position: relative;
    width: 702px;
}

h1, h2 {
    background-color: #FFF;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100vw;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 2;
}

.shadow {
    background-color: #000;
    height: 100%;
    left: 2px;
    margin: 0;
    position: absolute;
    top: 2px;
    width: 100%;
    z-index: 1;
}

.title {
    clip-path: url('#title');
}

.subtitle {
    clip-path: url('#subtitle');
}

video, .bg, .cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    object-fit: cover;
    z-index: 0;
}

.bg {
    background: transparent url('../images/backgroundOverlay.png') repeat;
    z-index: 1;
}

.cont {
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;
    border: 2px solid #FFF;
    border-radius: 27px;
    box-shadow: 2px 2px #000;
    background: transparent;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.btn:hover, .btn:focus {
    background: #FFF;
    color: #000;
    text-shadow: none;
    outline: none;
}

.btn-ico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-ico > svg {
    display: block;
    width: 20px;
    height: 20px;
}

.soc {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
}

.soc a {
    width: 50px;
    margin-right: 35px;
}

.soc a:focus {
    outline: none;
}

.soc a:last-child {
    margin-right: 0;
}

.tw:hover, .tw:focus {
    color: #1DA1F2;
}

.ln:hover, .ln:focus {
    color: #0077B5;
}

.gh:hover, .gh:focus {
    color: #333;
}

.res {
    padding: 0 20px;
}

@media only screen and (max-width: 702px) {
    header {
        width: 348px;
        height: 172px;
    }

    .title {
        clip-path: url('#mobileTitle');
    }
    
    .subtitle {
        clip-path: url('#mobileSubtitle');
    }
}
