h1, h2 {
    background-repeat: no-repeat;
}

h1.animating {
    animation: slide-right-title 1.5s linear forwards;
    background-position: -425px 0;
}

h2.animating {
    animation: slide-right-subtitle 1.5s linear forwards;
    background-position: -173px 0;
}

.trans {
    background-image: url(../images/trans.svg);
}

.pride {
    background-image: url(../images/pride.svg);
}

.bi {
    background-image: url(../images/bi.svg);
}

.pan {
    background-image: url(../images/pan.svg);
}

.lesbian {
    background-image: url(../images/lesbian.svg);
}

@keyframes slide-right-title {
    0% {
        background-position: -425px 0;
    }

    100% {
        background-position: 564px 0;
    }
}

@keyframes slide-right-subtitle {
    0% {
        background-position: -173px 0;
    }

    100% {
        background-position: 546px 0;
    }
}
