h1, h2 {
    background-repeat: no-repeat;
}

.animating {
    animation: slide-right 1.5s linear forwards;
    background-position: -166px 0;
}

.trans {
    background-image: url(../images/trans.svg);
}

.pride {
    background-image: url(../images/pride.svg);
}

.bi {
    background-image: url(../images/bi.svg);
}

.pan {
    background-image: url(../images/pan.svg);
}

.lesbian {
    background-image: url(../images/lesbian.svg);
}

@keyframes slide-right {
    0% {
        background-position: -166px 0;
    }

    100% {
        background-position: 681px 0;
    }
}

@media only screen and (max-width: 702px) {
    .animating {
        animation: slide-right 1.17s linear forwards;
        background-position: -333px 0;
    }

    @keyframes slide-right {
        0% {
            background-position: -333px 0;
        }
    
        100% {
            background-position: 333px 0;
        }
    }
}
