<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
        <meta name="description" content="<%- description %>">
        <meta name="theme-color" content="#4A148C"/>
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#E1BEE7"/>
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#4A148C"/>

        <meta property="og:title" content="<%- title %>">
        <meta property="og:description" content="<%- description %>">
        <meta property="og:url" content="https://nicholemattera.gay">

        <link rel="apple-touch-icon" href="/icons/icon-192.png">
        <link rel="manifest" href="/manifest.json">

        <title><%- title %></title>

        <style>
            @import url('./css/font-awesome.css');
            @import url('./css/fonts.css');
            @import url('./css/see-more.css');
            @import url('./css/main.css');
            @import url('./css/light.css');
        </style>
    </head>
    <body>
        <header>
            <h1 class="title"><%- title %></h1>

            <p class="subtitle"><%- subtitle %></p>

            <nav>
                <a href="https://linkedin.com/in/nicholemattera" target="_blank">
                    <span class="fa-sr-only">LinkedIn Opens in new window</span>
                    <span class="fab fa-li icon"></span>
                    <span class="far fa-ext new-window-icon"></span>
                </a>

                <a href="https://github.com/NicholeMattera" target="_blank">
                    <span class="fa-sr-only">GitHub Opens in new window</span>
                    <span class="fab fa-gh icon"></span>
                    <span class="far fa-ext new-window-icon"></span>
                </a>

                <a href="https://git.nicholemattera.gay" target="_blank">
                    <span class="fa-sr-only">Portfolio Opens in new window</span>
                    <span class="far fa-merge icon"></span>
                    <span class="far fa-ext new-window-icon"></span>
                </a>
            </nav>
        </header>

        <main>
            <div>
                <section class="about">
                    <h2>About Me</h2>

                    <div class="divider"></div>

                    <div class="content">
                        <img src="<%- about.image %>" width="<%- about.imageWidth %>" height="<%- about.imageHeight %>" alt="<%- about.imageAlt %>" />

                        <div class="description">
                            <%- about.description %>
                        </div>
                    </div>
                </section>

                <section>
                    <h2>Work Experience</h2>

                    <div class="divider"></div>

                    <div class="content">
                        <% experiences.forEach(function(experience){ %>
                        <% if(experience.logo){ %>
                        <h3><img src="<%- publication.logo %>" alt="<%- publication.logoAlt %>"></a><%- experience.organization %></h3>
                        <% } else { %>
                        <h3><%- experience.organization %></h3>
                        <% } %>
                        <dl>
                            <% experience.roles.forEach(function(role){ %>
                            <dt><%- role.title %></dt>
                            <dd>
                                <% if (role.isPresent) { %>
                                <p><time datetime="<%- role.start %>"><%- role.startText %></time> - Present</p>
                                <% } else { %>
                                <p><time datetime="<%- role.start %>"><%- role.startText %></time> - <time datetime="<%- role.end %>"><%- role.endText %></time> (<%- role.timeSpan %>)</p>
                                <% } %>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- role.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>

                        <% }); %>
                    </div>
                </section>

                <section>
                    <h2>Publications</h2>

                    <div class="divider"></div>

                    <div class="content">
                        <dl>
                            <% publications.forEach(function(publication){ %>
                            <% if(publication.link){ %>
                            <dt><a href="<%- publication.link %>" target="_blank"><%- publication.name %></a></dt>
                            <% } else { %>
                            <dt><%- publication.name %></dt>
                            <% } %>
                            <dd>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- publication.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                    </div>
                </section>

                <section>
                    <h2>Education</h2>

                    <div class="divider"></div>

                    <div class="content">
                        <dl>
                            <% education.forEach(function(degree){ %>
                            <dt><%- degree.name %></dt>
                            <dd>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- degree.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                    </div>
                </section>

                <section>
                    <h2>Certifications</h2>

                    <div class="divider"></div>

                    <div class="content">
                        <dl>
                            <% certifications.forEach(function(certificate){ %>
                            <% if(certificate.link){ %>
                            <dt><a href="<%- certificate.link %>" target="_blank"><%- certificate.name %></a></dt>
                            <% } else { %>
                            <dt><%- certificate.name %></dt>
                            <% } %>
                            <dd>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- certificate.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                    </div>
                </section>
            </div>

            <div>
                <section>
                    <h2>Projects</h2>

                    <div class="divider"></div>

                    <div class="content">
                        <dl>
                            <% projects.forEach(function(project){ %>
                            <dt><%- project.name %> (<%- project.type %>)</dt>
                            <dd>
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- project.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                    </div>
                </section>

                <section>
                    <h2>Awards</h2>

                    <div class="divider"></div>

                    <div class="content">
                        <% awards.forEach(function(award){ %>
                        <h3><%- award.organization %></h3>
                        <dl>
                            <% award.honors.forEach(function(honor){ %>
                            <dt><%- honor.name %></dt>
                            <dd>
                                <p><time datetime="<%- honor.date %>"><%- honor.dateText %></time></p>
                                
                                <div class="see-more collapsed">
                                    <div class="see-more-content">
                                        <%- honor.description %>
                                    </div>

                                    <button>
                                        See More
                                    </button>
                                </div>
                            </dd>
                            <% }); %>
                        </dl>
                        <% }); %>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>
