html, body {
    color: #FFF;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    display: block;
    border: 2px solid #FFF;
    border-radius: 27px;
    background: transparent;
    color: #FFF;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;

    &:hover, &:focus {
        background: #FFF;
        color: #000;
        text-shadow: none;
        outline: none;
    }

    &.icon {
        display: flex;
        justify-content: center;
        align-items: center;

        > svg {
            display: block;
            width: 20px;
            height: 20px;
        }
    }
}

h1, h2 {
    background-clip: text;
    -webkit-background-clip: text;
    background-color: #FFF;
    color: transparent;
    text-align: center;
}

h1 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 64px;
    margin: 0;
}

h2 {
    margin: 0 0 18px;
}

video, .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    object-fit: cover;
}

.container {
    background: transparent url('../images/backgroundOverlay.png') repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    
    a {
        width: 50px;
        margin-right: 35px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.twitter:hover, .twitter:focus {
    color: #1DA1F2;
}

.linkedin:hover, .linkedin:focus {
    color: #0077B5;
}

.git:hover, .git:focus {
    color: #333;
}

.resume {
    padding: 0 20px;
}
